.container {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    padding: 24px;
}

.logoBlock {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.subtitle {
    color: #1e1e1e;
    font-size: 37px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: -20px;
    font-weight: bold;
    font-style: normal;
}

.title {
    text-align: center;
    color: #1e1e1e;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 40px;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 140px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.primary {
    background: #1c1c1c;
    color: white;
    padding: 12px 35px;
    border-radius: 999px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}

.secondary {
    border: 1px solid #1c1c1c;
    color: #1c1c1c;
    padding: 12px 40px;
    border-radius: 999px;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    font-style: normal;
}