.container {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
    padding: 24px;
}

.logoBlock {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.subtitle {
    color: #1e1e1e;
    font-size: 37px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: -20px;
    font-weight: bold;
    font-style: normal;
}

.title {
    text-align: center;
    color: #1e1e1e;
    font-size: 32px;
    font-weight: 300;
    margin-bottom: 40px;
}

.logo {
    max-width: 100%;
    height: auto;
    margin-bottom: 140px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 100%;
    max-width: 500px;

    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}

.primary,
.secondary {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 9999px;
    text-decoration: none;

    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 0.2px;

    color: #2a2a2a;
}

/* ВЕРХНЯЯ — ЧУТЬ ТЕМНЕЕ */
.primary {
    background: #c7cbd1;
    width: 100%;
    max-width: 200px;
    height: 55px;
}

/* НИЖНЯЯ — СВЕТЛЕЕ */
.secondary {
    background: #e3e5e8;
    width: 100%;
    max-width: 330px;
    height: 55px;
}